.Editor-Modal{
    height:60%;
    width:50%;
    position: absolute;
    top: 20%;
    left: 25%;
    background-color: white;
    color: black;
}

.Editor-Modal-Header{
    box-sizing:border-box;
    width:100%;
    height:10%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}


.Editor-Modal-Content{
    box-sizing:border-box;
    width:100%;
    height:90%;
    display: flex;
}

.Editor-Modal-Content-Left{
    box-sizing:border-box;
    width:50%;
    height:100%;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #777373;
}

.Editor-Modal-Content-Right{
    box-sizing:border-box;
    width:50%;
    height:100%;
    /* padding-top: 15px;
    padding-bottom: 15px; */
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #777373;
}

.editor-list{
    width:100%;
    height:80%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.editor-search{
    width:100%;
    height:10%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #777373;
}

.editor-modal-tile{
    box-sizing:border-box;
    width:100%;
    height:10%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #777373;
    display: flex;
    justify-content: space-between;
}

.Editor-Save-Button{
    border-style: solid;
    border-width: 1px;
    border-color: #777373;
    margin-top: 5px;
    width:20%;
    background-color: rgb(128, 128, 194);
}

.search-title{
    height:10%;
    box-sizing: border-box;
    padding-bottom: 5px;
}